<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    ">

    <bean id="userTestReader" class="com.rntgroup.tstapp.repository.CsvUserTestReader" />

    <bean id="applicationProperties" class="com.rntgroup.tstapp.ApplicationProperties">
        <constructor-arg index="0" value="tstapp.properties" />
    </bean>

    <bean id="externalTstDir" class="com.rntgroup.tstapp.repository.ExternalUserTestRepository">
        <constructor-arg index="0" ref="applicationProperties" />
        <constructor-arg index="1" ref="userTestReader" />
    </bean>

    <bean id="internalTstDir" class="com.rntgroup.tstapp.repository.InternalUserTestRepository">
        <constructor-arg index="0" value="tests" />
        <constructor-arg index="1" value=".csv" />
        <constructor-arg index="2" ref="userTestReader" />
    </bean>

    <bean id="repositories" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="internalTstDir" />
                <ref bean="externalTstDir" />
            </list>
        </constructor-arg>

    </bean>

    <bean id="userTestRepository" class="com.rntgroup.tstapp.repository.UserTestRepository" >
        <constructor-arg index="0" ref="repositories" />
    </bean>

    <bean id="application" class="com.rntgroup.tstapp.Application">
        <constructor-arg index="0" ref="userTestRepository" />
    </bean>

</beans>